body,
html {
	height: 100%;
	font-family: "Inconsolata", sans-serif;
	background-color: #002b36;
	color: #657b83;
}

.container {
	background-color: #073642;
	padding: 30px 30px 30px 30px;
	display: flex;
	flex-direction: column;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	color: #93a1a1;
}

h1 {
	font-size: 42px;
	font-weight: bold;
}

hr {
	margin: 1rem 0 !important;
}

ul,
ol {
	margin-left: 16px;
}

img {
	width: 100%;
}

/*** Status/Resources styles ***/
.base-status-bar-label {
	font-size: 24px;
}

.base-status-bar {
	border: #073642 2px solid;
	height: 100%;
}

.base-status-bar-fill {
	color: #073642;
	padding: 12px;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
}

.danger > .base-status-bar-fill {
	color: #fff;
}

.glitch {
	animation: glitch 1s linear infinite;
}

@keyframes glitch{
	2%,64%{
		transform: translate(5px,0) skew(0deg);
	}
	4%,60%{
		transform: translate(0px,20) skew(0deg);
	}
	62%{
		transform: translate(-5,0) skew(0deg);
	}
}

.glitch:before,
.glitch:after{
	content: 'Identity';
	position: absolute;
	left: 0;
}

.glitch:before{
	animation: glitchTop 1s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
	2%,64%{
		transform: translate(2px,-2px);
	}
	4%,60%{
		transform: translate(-2px,2px);
	}
	62%{
		transform: translate(8px,-1px) skew(-13deg); 
	}
}

.glitch:after{
	animation: glitchBotom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
	2%,64%{
		transform: translate(-2px,0);
	}
	4%,60%{
		transform: translate(-2px,0);
	}
	62%{
		transform: translate(-12px,5px) skew(21deg); 
	}
}

.base-status-button {
	background-color: #eee8d5;
	font-size: 2rem;
	text-align: center;
	border-radius: 5rem;;
}

.gm-pilot-select {
	min-width: 150px;
	font-size: 24px;
	margin-top: 3px;
	width: 100%;
	background-color: #eee8d5;
}

#gm-log-container {
	/* Using the color palette from this page: https://en.wikipedia.org/wiki/Solarized */
	background-color: #073642;
	color: #839496;
	font: 1.3rem Consolas, monospace;

	.cursor {
		width: 7%;
	}

	.text-input {
		width: 93%;
	}

	/* very temporary */

	.GM_text {
		color: #d33682;
	}

	.Zen_text {
		animation: rainbow 2.5s linear;
		animation-iteration-count: infinite;
	}

	.SYSTEM_text {
		color: #fdf6e3;
	}

	#log-display {
		max-height: 26rem;
		overflow-y: auto;
	}
	>#log-input {
		margin-top: 5px;
		width: 100%;

		>div {
			float: left;
		}
	}

	>#log-container {
		max-height: 1000px;
	}
}

.Razor_text {
	color: #268bd2;
}

.Nobody_text {
	color: #eb3d94;
}

.Barkeep_text {
	color: #dc322f;
}

.Chirurgeon_text {
	color: #b58900;
}

.Deputy_text {
	color: #cb4b16;
}

.Shadow_text {
	color: #6c71c4;
}
